<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
<div id="readFrame"
     style="padding-left:10px;word-wrap: break-word;word-break: normal;position: relative;margin: 0;zoom: 1;color: #000;">
    <div style="margin: auto; max-width: 1000px;background-color: #fff;border: 1px solid #d8d8d8;cursor: default;">
        <img src="https://img1.daumcdn.net/thumb/R1280x0/?scode=mtistory2&fname=https%3A%2F%2Fk.kakaocdn.net%2Fdn%2FT7qjj%2FbtqCGRGS3k1%2Fw83I1t8agkDKebrMRxkqzk%2Fimg.png"
             style="width: 100%;" loading="lazy">
        <div style="border-bottom: solid 1px #d8d8d8; margin: 30px auto 0; padding-bottom: 20px;">
            <div style="margin: 0 20px; font-size: 26px;">
                <p style="margin:0;">오늘의</p>
                <p style="margin:0;"><span style="color: #fe4e6c;">Daily Report</span>입니다</p>
            </div>
        </div>
        <br/><br/>
        <!-- CPU Utilization -->
        <div style="text-align: center">
            <h1>[ EC2 Instance CPU Utilization ]</h1>
            <img style=" border: 1px solid grey; width: 30%; height: 30%" src="cid:bdp_cpu_utilization"/>&nbsp;&nbsp;&nbsp;&nbsp;
            <img style="border: 1px solid grey;width: 30%; height: 30%" src="cid:bmt_cpu_utilization"/>&nbsp;&nbsp;&nbsp;&nbsp;
            <img style="border: 1px solid grey;width: 30%; height: 30%" src="cid:bpn_cid_cpu_utilization"/>&nbsp;&nbsp;&nbsp;&nbsp;
        </div>
        <div style="text-align: center">
            <img style=" border: 1px solid grey; width: 30%; height: 30%" src="cid:cms_cpu_utilization"/>&nbsp;&nbsp;&nbsp;&nbsp;
            <img style="border: 1px solid grey;width: 30%; height: 30%" src="cid:dbot_inf_cpu_utilization"/>&nbsp;&nbsp;&nbsp;&nbsp;
            <img style="border: 1px solid grey;width: 30%; height: 30%" src="cid:vip_cpu_utilization"/>&nbsp;&nbsp;&nbsp;&nbsp;
        </div>
        <div style="text-align: center">
            <img style=" border: 1px solid grey; width: 30%; height: 30%" src="cid:voc_waf_cpu_utilization"/>&nbsp;&nbsp;&nbsp;&nbsp;
        </div>
        <br/><br/>

        <!-- Memory Utilization -->
        <div style="text-align: center">
            <h1>[ EC2 Instance Memory Utilization ]</h1>
            <img style=" border: 1px solid grey; width: 30%; height: 30%" src="cid:bdp_memory_utilization"/>&nbsp;&nbsp;&nbsp;&nbsp;
            <img style="border: 1px solid grey;width: 30%; height: 30%" src="cid:bpn_cid_memory_utilization"/>&nbsp;&nbsp;&nbsp;&nbsp;
            <img style="border: 1px solid grey;width: 30%; height: 30%" src="cid:cms_memory_utilization"/>&nbsp;&nbsp;&nbsp;&nbsp;
        </div>
        <div style="text-align: center">
            <img style=" border: 1px solid grey; width: 30%; height: 30%" src="cid:dbot_inf_memory_utilization"/>&nbsp;&nbsp;&nbsp;&nbsp;
            <img style="border: 1px solid grey;width: 30%; height: 30%" src="cid:vip_memory_utilization"/>&nbsp;&nbsp;&nbsp;&nbsp;
        </div>
        <br/>
        <!-- RDS CPU Utilization -->
        <div style="text-align: center">
            <h1>[ RDS CPU Utilization ]</h1>
            <img style=" border: 1px solid grey; width: 30%; height: 30%" src="cid:bdp_cid_cms_rds_utilization"/>&nbsp;&nbsp;&nbsp;&nbsp;
            <img style="border: 1px solid grey;width: 30%; height: 30%" src="cid:dbt_log_mdp_rds_utilization"/>&nbsp;&nbsp;&nbsp;&nbsp;
            <img style="border: 1px solid grey;width: 30%; height: 30%" src="cid:mis_rts_trd_rds_utilization"/>&nbsp;&nbsp;&nbsp;&nbsp;
        </div>
        <br/>

        <!-- RDS WriteIOPS -->
        <div style="text-align: center">
            <h1>[ RDS Write IOPS ]</h1>
            <img style=" border: 1px solid grey; width: 30%; height: 30%" src="cid:bdp_cid_cms_dbt_write_iops"/>&nbsp;&nbsp;&nbsp;&nbsp;
            <img style="border: 1px solid grey;width: 30%; height: 30%" src="cid:log_mdp_mis_rts_trd_write_iops"/>&nbsp;&nbsp;&nbsp;&nbsp;
        </div>
        <br/>

        <!-- RDS ReadIOPS -->
        <div style="text-align: center">
            <h1>[ RDS Read IOPS ]</h1>
            <img style=" border: 1px solid grey; width: 30%; height: 30%" src="cid:bdp_cid_cms_dbt_read_iops"/>&nbsp;&nbsp;&nbsp;&nbsp;
            <img style="border: 1px solid grey;width: 30%; height: 30%" src="cid:log_mdp_mis_rts_trd_read_iops"/>&nbsp;&nbsp;&nbsp;&nbsp;
        </div>
        <br/>

        <!-- RDS Write Latency-->
        <div style="text-align: center">
            <h1>[ RDS Write Latency ]</h1>
            <img style=" border: 1px solid grey; width: 30%; height: 30%" src="cid:bdp_cid_cms_dbt_write_latency"/>&nbsp;&nbsp;&nbsp;&nbsp;
            <img style="border: 1px solid grey;width: 30%; height: 30%" src="cid:log_mdp_mis_rts_trd_write_latency"/>&nbsp;&nbsp;&nbsp;&nbsp;
        </div>
        <br/>

        <!-- RDS Read Latency-->
        <div style="text-align: center">
            <h1>[ RDS Read Latency ]</h1>
            <img style=" border: 1px solid grey; width: 30%; height: 30%" src="cid:bdp_cid_cms_dbt_read_latency"/>&nbsp;&nbsp;&nbsp;&nbsp;
            <img style="border: 1px solid grey;width: 30%; height: 30%" src="cid:log_mdp_mis_rts_trd_read_latency"/>&nbsp;&nbsp;&nbsp;&nbsp;
        </div>
        <br/>


        <!-- RedShift CPU Utilization -->
        <div style="text-align: center">
            <h1>[ RedShift CPU Utilization ]</h1>
            <img style=" border: 1px solid grey; width: 30%; height: 30%" src="cid:leader_0123_cpu_utilization"/>&nbsp;&nbsp;&nbsp;&nbsp;
            <img style="border: 1px solid grey;width: 30%; height: 30%" src="cid:4567_cpu_utilization"/>&nbsp;&nbsp;&nbsp;&nbsp;
        </div>
    </div>
</div>
</body>
</html>

