<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
<div id="readFrame"
     style="padding-left:10px;word-wrap: break-word;word-break: normal;position: relative;margin: 0;zoom: 1;color: #000;">
    <div style="margin: auto; max-width: 1000px;background-color: #fff;border: 1px solid #d8d8d8;cursor: default;">
        <img src="https://img1.daumcdn.net/thumb/R1280x0/?scode=mtistory2&fname=https%3A%2F%2Fk.kakaocdn.net%2Fdn%2FT7qjj%2FbtqCGRGS3k1%2Fw83I1t8agkDKebrMRxkqzk%2Fimg.png"
             style="width: 100%;" loading="lazy">
        <div style="border-bottom: solid 1px #d8d8d8; margin: 30px auto 0; padding-bottom: 20px;">
            <div style="margin: 0 20px; font-size: 26px;">
                <p style="margin:0;">오늘의</p>
                <p style="margin:0;"><span style="color: #fe4e6c;">Daily Report</span>입니다</p>
            </div>
        </div>
        <br/><br/>
        <div style="text-align: center"><img style=" border: 1px solid grey; width: 43%; height: 43%"
                                             src="cid:count_example">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<img
                style="border: 1px solid grey;width: 43%; height: 43%" src="cid:cpu_utilization"></div>
        <div style="text-align: center"><img style=" border: 1px solid grey; width: 43%; height: 43%"
                                             src="cid:cpu_credit">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<img
                style="border: 1px solid grey;width: 43%; height: 43%" src="cid:cpu_utilization"></div>
        <br/><br/>
    </div>
</div>
</body>
</html>